@import "../../utility/variables.scss";

.footer {
  background-color: $dark-color;
  color: $ligth-color;
  padding: 80px 0 20px 0;

  .info-links-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    .description {
      min-width: 200px;
      margin-bottom: 40px;
      .logo {
        font-family: "Playfair Display", serif;
        font-size: 2.5rem;
        color: $ligth-color;
        text-decoration: none;
      }

      .paragraph {
        width: 175px;
        margin: 35px 0;
      }

      .social-icon {
        color: $ligth-color;
        font-size: 20px;
        margin-right: 15px;
        transition: color ease-in 0.2s;

        &:hover {
          color: $accent-color;
        }
      }
    }

    .information,
    .quick-links {
      min-width: 200px;
      margin-bottom: 40px;
      color: $ligth-color;

      h2 {
        color: $accent-color;
        font-weight: 600;
        margin-bottom: 60px;
      }

      li {
        margin-bottom: 10px;

        a {
          color: $ligth-color;
          font-weight: 400;
          text-transform: none;
          transition: color ease-in 0.2s;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    .contact-us {
      h2 {
        color: $accent-color;
        font-weight: 600;
        margin-bottom: 60px;
      }

      ul {
        li {
          margin-bottom: 10px;
          a {
            color: $ligth-color;
            font-weight: 400;
            text-transform: none;

            svg {
              fill: $accent-color;
              margin-right: 10px;
            }
          }

          svg {
            fill: $accent-color;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600px;
  }
}

hr {
  margin: 20px 0;
  border-color: red;
}
