$accent-color: #ef3939;
$ligth-color: #f9f9f9;
$dark-color: #0e0e0e;
$gray-color: #9b9b9b;
$ligth-gray-color: #f6f6f6;
$success-color: #49a31b;

// Breakpoint
// sm	@media (max-width: 640px) {  }
// md	@media (max-width: 768px) {  }
// lg	@media (max-width: 1024px) {  }
// xl	@media (max-width: 1280px) {  }
// 2xl	@media (max-width: 1536px) {  }
